body{
	background-repeat: repeat; 
	background-image: url("../image/background.jpg");
}
.button-group{
	width: 600px;
	height: 60px;
	margin: 0 auto;	
}
.funcbtn{
	width: 150px;
	height 40px;
	position: relative;
	top: 10px;
}
.restartBtn{
}
.nextAnswerBtn{
	margin-left: 75px;
}
.showAnimaBtn{
	float: right;
}
.container{
	height: 600px;
	width: 100%;
}
.chessboard{
	height: 602px;
	width: 602px;
	margin: 0 auto;
	border: black solid 1px;
}
.white-gird{
	background-color: white;
}
.black-gird{
	background-color: #666;
}
.gird{
	color: red;
	font-size: 40px;
	font-weight: bold;
	line-height: 75px;
	text-align: center;
}