header {
	height: 100px;
	width: 500px;
	margin: 0 auto;
	margin: auto;
	font-size: 40px;
	font-weight: bold;
	color: red;
	text-align: center;
}
.container{
	height: 600px;
	width: 100%;
	background-color: red;
}
.chessboard{
	height: 600px;
	width: 600px;
	margin: 0 auto;
	background-color: yellow;
}